@model List<LoveThemBackWebApp.Models.Pet>

@{
  Layout = "_Layout";
}


@foreach (var pet in Model)
{


  <div class="card">
    <img src="@pet.media.photos.photo[0].data" />
    <h3>@Html.DisplayFor(modelItem => pet.name.data)</h3>
    <a asp-action="Details" asp-route-id="@pet.id.data">Details</a>
  </div>
}

