body {
    background-color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    margin: -20px 0 0 0;
}

/*===================Login page=====================*/

.title {
    font-family: 'Pattaya', sans-serif;
    font-size: 3em;
    margin: 0px;
    color: #E3FF00;
    padding-top: 15px;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 0;
    color: whitesmoke;
}

.login-container {
    width: 100%;
    height: 100%;
    background-image: url(/assets/puppies.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

.login-form-container {
    background-color: rgba(0,128,128, .7);
    width: 500px;
    height: 250px;
    margin: 25% auto;
    border-radius: 10px;
}

.login-form {
    text-align: center;
    padding-top: 2%;
}

.login-form input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10%;
}

.login-form button {
    padding: 8px 15px;
    background-color: #90A5A9;
    border-radius: 5px;
    margin-right: 25%;
    margin: 10px;
}

.register {
    margin-top: 3%;
}

.register a {
    text-decoration: none;
    color: black;
}

/*===================Register page=====================*/

.register-container {
    width: 100%;
    height: 100%;
    background-image: url(/assets/dog1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

.register-input-container {
    width: 300px;
    height: 50px;
    float: right;
}

.register-input-container input {
    width: 150px;
    height: 15px;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin-right: 5%;
}

.register-title {
    font-family: 'Pattaya', sans-serif;
    font-size: 2em;
    margin: 0px;
    color: #E3FF00;
    padding-top: 15px;
    padding-bottom: 10px;
}

.register-input-container label{
    margin: 1% 0;
}

.registration-form {
    background-color: rgba(0,128,128, .7);
    width: 300px;
    height: 250px;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.register-button {
    padding: 10px 15px;
    background-color: #90A5A9;
    border-radius: 5px;
    margin-bottom: 10px;
}

a.loginLink {
    height: 20px;
    text-decoration: none;
    color: black;
}
/*==============Pet Main Page===============*/
.searchForm {
    text-align: center;
    background-color: rgba(177,178,174, .5);
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 5px;
}

.searchForm h3 {
    margin: 0;
}

.input-text {
  margin-top: 5%;
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.search-button {
    padding: 5px 15px;
    background-color: #90A5A9;
    border-radius: 5px;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0,128,128, .7);
    border-radius: 10px;
    box-shadow: 5px 10px lightgrey;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgba(0,128,128, .7);
}

.card_content {
    margin: 15px;
}

.card_img {
    width: 80%;
    margin-top: 10px;
    max-height: 50%;
    border-radius: 5px;
}

.button {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    background-color: #90A5A9;
    border-radius: 5px;
}

.button:hover {
    background-color: #E3FF00;
    color: black;
    padding: 12px 17px;
}

/*===================dog banner=====================*/
.dog-banner-img {
    height: 250px;
}

.dog-banner-container {
    background-color: white;
    margin-top: -28px;
    margin-left: -8px;
    margin-right: -8px;
}

/*===================review page=====================*/
.review {
    margin: 3% auto 0 auto;
    width: 50%;
}

.impression {
    width: 100%;
}

.traits {
    padding: 10px;
}

.traits label {
    display: block;
    padding: 5px;
}

.submit {
    margin-top: 10px;
}

/*===================navigation bar=====================*/

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,128,128);
    vertical-align: middle;
    height: 75px;
}

.nav-left {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

    .nav-left a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        vertical-align: top;
    }

.nav-right {
    float: right;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

    .nav-right a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        vertical-align: top;
    }

.navigation li {
    line-height: 37.5px;
}

li a:hover {
    background-color: #E3FF00;
    color: black;
}

.logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
    padding: 0;
    padding-left: 15px;
}

/*===================Favorite=====================*/

.favorite-photos {
    width: 30%;
    min-width: 150px;
    float: right;
    padding: 20px;
}

.favCard {
    width: 40%;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0,128,128, .7);
    border-radius: 10px;
    box-shadow: 5px 10px lightgrey;
    text-align: center;
}

.favCard p{
    font-weight: bolder;
    display: inline-block;
    margin-right: 5%;
}

.favCard .title{
    margin-left: 25%;
}

.favCard ul {
    list-style-type: none;
    text-align: left;
}

.favCard li{
    margin: 0 auto;
}

.favCard li .search-button{
    width: 50%;
    margin-top: 10px;
    margin-left: 20%;
}

.fav_card_img {
    width: 80%;
    margin-top: 10px;
    max-height: 75%;
    border-radius: 5px;
    margin-left: 5%;
}

th, td {
    padding: 20px;
}

/*===================Profile Detail =====================*/

section.profile-container {
  margin: 25px auto 0 auto;
  width: 50%;
}

div.polaroid-look {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-image {
  width: 100%;
}

div.text-container {
  text-align: center;
  padding: 10px 20px;
}

  div.text-container p {
    font: bolder;
    font-size: 15px;
  }

.profile-buttons {
  margin-top: 50px;
  clear: both;
  display: block;
  border-radius: 5px;
}

.review-card {
  text-align: left;
  width: 92%;
  margin: 0 auto 20px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  border-radius: 5px;
}

.create {
  display: inline-block;
}

  .create input[type="submit"] {
    background-color: #90A5A9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

    .create input[type="submit"]:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }