body {

    background-color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}

.title {
    color: #D79922;
}

.nav_menu {
    list-style: none;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #4056A1;
}

.nav_menu li {
    display: inline-block;
    padding: 10px 25px;
}

.nav_menu li:hover {
   background-color: #F13C20
}

.nav_menu li a {
    text-decoration: none;
    font-size: 1.5em;
    color: #D79922;
}

tr {
    margin-bottom: 30px;
}


.card {
  border:dashed;
}

/*===================Login page=====================*/

.register-container {
    margin-left: 10%;
    margin-right: 10%;
}

.register-form-container {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}
.register-img {
    width: 80%;
    height: auto;
}