@model IEnumerable<LoveThemBackWebbApp.Models.Favorite>
    @foreach (var item in Model)
    {
    @Html.DisplayFor(modelItem => item.Notes)
    }


<h1> This is the favorites index page </h1>
<h2> </h2>