@model IEnumerable<LoveThemBackWebApp.Models.PetPost>
@*@model List<LoveThemBackWebApp.Models.PetPost>*@

@foreach (var item in Model)
{
    <h1>@item.Animal</h1>

}


<h1> This is the favorites index page </h1>
<h2> </h2>