<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <form method="post">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            
            <button type="submit">Login</button>
        </form>
        Don't have an account? <a asp-controller="Register" asp-action="Index">Click Here</a>
    </body>
</html>