@{
    Layout = "_Layout";
}
<div class="login-container">
    <div class="login-form-container">
        <h2 class="title">Love Them Back</h2>
        <h3 class="subtitle">Adopt A Pet</h3>
        <div class="login-form">
            <form method="post">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <button type="submit">Login</button>
            </form>
        </div>

        <div class="register">
            <a asp-controller="Register" asp-action="Index">Create New Account</a>
        </div>
    </div>
</div>