
﻿<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()
  @*<div class="dog-banner-container">
        <img src="~/assets/dogbanner.jpg" class="dog-banner-img" />
    </div>*@
</body>
</html>
