
﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Pattaya" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()
</body>
</html>
