@model string
@{
    Layout = "_Layout";
}
<ul class="navigation">
    <li class="nav-left logo"><p>Love Them Back<p /></li>
    <li class="nav-right"><a href="Logout">Logout</a></li>
    <li class="nav-right"><a href="/Favorite">Favorites</a></li>
    <li class="nav-right"><a href="/Pet">Pet Search</a></li>
</ul>