@model LoveThemBackWebApp.Models.RegisterError

@{
    ViewData["Title"] = "Index";

}

<h2>Create Account</h2>
@if (Model != null && Model.userExist)
{
    <p>Please try another username. Username Already Exist</p>
}
    <form method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="Zipcode"><b>Zipcode</b></label>
        <input type="text" placeholder="Enter Zipcode" name="locationZip" required>

        <button type="submit">Create</button>
    </form>