@model dynamic

<form method="post">
  <input type="hidden" name="UserID" value="@Model.User.UserID" />

  <input type="hidden" name="PetID" value="@Model.Review.PetID" />

  <label for="Impression"></label>
  <textarea name="Impression"></textarea>

  <label for="Affectionate">Was this animal affectionate?</label>
  <input type="checkbox" name="Affectionate"/>

  <label for="Friendly">Was this animal friendly?</label>
  <input type="checkbox" name="Friendly"/>

  <label for="HighEnergy">Did this animal have a lot of energy?</label>
  <input type="checkbox" name="HighEnergy"/>

  <label for="Healthy">Did this animal appear to be in good health?</label>
  <input type="checkbox" name="Health"/>

  <label for="Intelligent">Did this animal seem particularly intelligent?</label>
  <input type="checkbox" name="Intelligent"/>

  <label for="Cheery">Would you say this animal had a cheery disposition?</label>
  <input type="checkbox" name="Cheery"/>

  <label for="Playful">Was this animal playful?</label>
  <input type="checkbox" name="Playful"/>

  <input type="submit" asp-action="Create" />
</form>