@model dynamic
@await Html.PartialAsync("_NAVPartial", (string)Model.User.Username)

<form class="review" method="post">
    <input type="hidden" name="UserID" value="@Model.User.UserID" />

    <input type="hidden" name="PetID" value="@Model.Review.PetID" />

    <h2>What is your impression of this animal?</h2>

    
    <div class="traits">
        <label for="Affectionate">
            Was this animal affectionate?
            <input type="checkbox" value="true" name="Affectionate" />
        </label>

        <label for="Friendly">
            Was this animal friendly?
            <input type="checkbox" value="true" name="Friendly" />
        </label>

        <label for="HighEnergy">
            Did this animal have a lot of energy?
            <input type="checkbox" value="true" name="HighEnergy" />
        </label>

        <label for="Healthy">
            Did this animal appear to be in good health?
            <input type="checkbox" value="true" name="Healthy" />
        </label>

        <label for="Intelligent">
            Did this animal seem particularly intelligent?
            <input type="checkbox" value="true" name="Intelligent" />
        </label>

        <label for="Cheery">
            Would you say this animal had a cheery disposition?
            <input type="checkbox" value="true" name="Cheery" />
        </label>

        <label for="Playful">
          Was this animal playful?
          <input type="checkbox" value="true" name="Playful"/>
        </label>
    </div>
    <h3>Additional Comments:</h3>
    <label class="impression" for="Impression"></label>
    <textarea name="Impression" rows="8" cols="100"></textarea>

    <input class="submit" type="submit" asp-action="Create" />
</form>