@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/" method="post">
    <label for="impression"></label>
    <textarea name="impression">  </textarea>

    <label for="affectionate">Was this animal affectionate?</label>
    <input type="checkbox" name="affectionate" value="" />

    <label for="friendly">Was this animal friendly?</label>
    <input type="checkbox" name="friendly" value="" />

    <label for="energy">Did this animal have a lot of energy?</label>
    <input type="checkbox" name="energy" value="" />

    <label for="healthy">Did this animal appear to be in good health?</label>
    <input type="checkbox" name="health" value="" />

    <label for="intelligent">Did this animal seem particularly intelligent?</label>
    <input type="checkbox" name="intelligent" value="" />

    <label for="cheery">Would you say this animal had a cheery disposition?</label>
    <input type="checkbox" name="cheery" value="" />

    <label for="playful">Was this animal playful?</label>
    <input type="checkbox" name="playful" value="" />

    <input type="submit"/>
</form>