@model List<LoveThemBackWebApp.Models.Reviews>


<form method="post">
    <label for="UserID">user id</label>
    <input type="number" name="UserID" value="" />

    <label for="PetID">pet id</label>
    <input type="number" name="PetID" value="" />

    <label for="Impression"></label>
    <textarea name="Impression">  </textarea>

    <label for="Affectionate">Was this animal affectionate?</label>
    <input type="checkbox" name="Affectionate" value="" />

    <label for="Friendly">Was this animal friendly?</label>
    <input type="checkbox" name="Friendly" value="" />

    <label for="HighEnergy">Did this animal have a lot of energy?</label>
    <input type="checkbox" name="HighEnergy" value="" />

    <label for="Healthy">Did this animal appear to be in good health?</label>
    <input type="checkbox" name="Health" value="" />

    <label for="Intelligent">Did this animal seem particularly intelligent?</label>
    <input type="checkbox" name="Intelligent" value="" />

    <label for="Cheery">Would you say this animal had a cheery disposition?</label>
    <input type="checkbox" name="Cheery" value="" />

    <label for="Playful">Was this animal playful?</label>
    <input type="checkbox" name="Playful" value="" />

    <input type="submit" asp-action="Create" />
</form>